.filter {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputfilter {
    background-color: white;
    color: black;
    width: 450px;
    border: solid;
    border-radius: 22px;
    padding: 12px;
    padding-right: 190px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
