form {
    background-color: #10111d;
    border-radius: 20px;
    box-sizing: border-box;
    height: 600px;
    padding: 20px;
    width: 520px;
    margin: 20px auto;
    
}

label {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.form_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

input,
textarea {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 15px;
    background-color: #303245;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.rating{
    padding-right: 10px;
}

input[type="number"] {
    width: 70px;
}

button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3rem;
    width: 150px;
    transition: 0.9s;
    margin-left: 10rem;
}

button:hover {
    background-color: rgb(197, 195, 195);
}